.title{
  color:black;
  font-size:100px;
  text-align: center;

}

header{
  height:10px
  background-image: url(https://scontent.fakl2-1.fna.fbcdn.net/v/t1.0-9/11928723_754206954689878_6691415016412597708_n.jpg?_nc_cat=109&_nc_oc=AQlxEznu5L2kcA9VhU7H6SCTiCgC0patwDE2DNRQzPrSCDnZHKZ_ejtD-906PfiTReQ&_nc_ht=scontent.fakl2-1.fna&oh=28062f2ea819713e703779770b2a9f32&oe=5E486119);
  background-size: auto;
}


.action-title{
  text-align: center;
}

.will-action{
  text-align: center;
  padding-top:50px;
}
