.title{

  color:black;
  font-size:50px;
  text-align: center;
}

.title-photo{
  float:rigth;
  height:350px;
  weight:350px;
}

.profile {
  margin-bottom:50px;
}

.profile p{
  font-size:30px
}

.action img{
  float:right;
  height:200px;
  width:200px
}

.action-title h2{
  font-size:20px;
}

.action-title p{
  font-size:10px;
}

.will-action{
  text-align: center;
  padding-top:50px;
}
